# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


canon/SavedPhotos
# не игнорируются
canon/Server/pathExe.txt
canon/Camera/camera_log.txt
canon/Camera/image.jpg