/* Общие стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none; /* Запрещаем выделение элементов */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-tap-highlight-color: transparent; /* Убирает подсветку нажатий */
  /* animation: zoomBackground 2s infinite alternate;  */
}

@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(var(--backdrop-blur));
  z-index: -1;
}

/* Анимация */
.animated-background {
  background: linear-gradient(-45deg, #ed030c, #c5c4fa, #c4facd, #ab9aff);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Контейнер для экранов */
#screen-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Добавляем переход для классов .screen */
.screen {
  display: none;
  padding: 20px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: fixed; /* Меняем absolute на fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Базовый z-index для всех экранов */
  visibility: hidden; /* Скрываем экран полностью */
  pointer-events: none; /* Отключаем взаимодействие с неактивными экранами */
  opacity: 0; /* Добавляем полную прозрачность */
}

.screen.active {
  display: flex;
  visibility: visible; /* Показываем активный экран */
  pointer-events: all; /* Включаем взаимодействие для активного экрана */
  z-index: 1; /* Активный экран поверх остальных */
  opacity: 1; /* Показываем активный экран */
  animation: fadeIn 0.5s ease;
}
/* .active {
  display: flex;
  visibility: visible; 
  pointer-events: all; 
  z-index: 1; 
  opacity: 1;
} */

/* Добавляем ключевые кадры для анимации появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#style-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  align-items: center;
}

#style-buttons .button {
  box-shadow: 0px 4px 24px rgba(105.36, 97.05, 200.93, 0.25);
  opacity: 0;
  animation: fadeIn 1s forwards; /* Анимация появления */
  backdrop-filter: blur(10px) saturate(180%);
}

.style-buttons .button:active {
  transform: scale(0.9) translateY(4px);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

/* Кнопки */
.button {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 12px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  /* background: rgba(255, 255, 255, 0.2); */
  /* backdrop-filter: blur(10px) saturate(180%); */
  transition: transform 0.5s, box-shadow 0.5s;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.button:active {
  transform: scale(0.95) translateY(2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.button img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  pointer-events: none; /* Чтобы клики проходили к родителю */
}
.button div {
  margin-top: 10px;
  font-weight: 500;
  pointer-events: none; /* Чтобы клики проходили к родителю */
}
button {
  /* font-family: "Chakra Petch", sans-serif; */
  font-family: "Roboto", sans-serif;
  padding: 25.35px 50.7px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 170px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) saturate(180%);
  font-weight: 700;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95) translateY(2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
#print-photo,
#start-over {
  color: var(--text-color);
  transition: all 0.3s ease;
}
#countdown {
  font-size: 3.9em;
  font-weight: 700;
  color: var(--text-color);
}
/* Стили для прогресс-бара */
#progress-bar {
  width: 90%;
  max-width: 600px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 30px auto 15px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* todo */
#progress-bar-fill {
  width: 0%;
  height: 100%;
  transition: width 0.8s;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #36d1dc, #b95be5);
}

/*? Градиент для светлой темы */
/* body.light #progress-bar-fill {
  background: linear-gradient(90deg, #36d1dc, #5b86e5);
} */

/*? Градиент для темной темы */
/* body.dark #progress-bar-fill {
  background: linear-gradient(90deg, #ff6b6b, #4ecdc4);
} */

#progress-bar-fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2),
    transparent 20%
  );
  background-size: 20px 20px;
  animation: floatParticles 2s linear infinite;
}

#progress-percentage {
  margin-top: 5px;
  font-size: 2em;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  animation: pulse 0.9s 10 ease-in-out;
  animation-delay: 0.9s;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes floatParticles {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}

/* Стили для кнопок на экране результата */
#result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: none;
}
.content-container {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#result-image {
  max-width: 80%;
  max-height: 60vh;
  object-fit: contain;
  transform: rotate(0deg);

  padding: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(196, 213, 217, 0.7511379551820728) 100%
  );
  box-shadow: 0px 4px 24px rgba(105.36, 97.05, 200.93, 0.25);
  border-radius: 40px;
}
/* Стили для видео-контейнера и видео */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  gap: 10px;
  margin: 20px 0;
}

#video {
  width: 90%; /* Увеличиваем ширину видео */
  object-fit: contain;
  /* ? */
  /* padding: 20px;
  background: linear-gradient(90deg, rgba(249,181,241,0.6615021008403361) 0%, rgba(0,212,255,0.35898109243697474) 100%);
  box-shadow: 0px 4px 24px rgba(105.36, 97.05, 200.93, 0.25);
}

#gender-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Расстояние между строками */
  align-items: center; /* Центрирование строк по горизонтали */
}

#gender-buttons .button img {
  width: 100%;
  height: 200px; /* Фиксированная высота для всех изображений */
  object-fit: cover; /* Изображение заполнит контейнер, сохраняя пропорции */
  border-radius: 8px;
  pointer-events: none;
}

#gender-buttons .button div {
  margin-top: 10px;
  font-weight: 500;
  color: #222;
  pointer-events: none;
}

.button-row_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; /* Расстояние между строками */
}

#result-screen > div {
  margin-top: 50px;
  display: flex;
  gap: 20px; /* Расстояние между кнопками */
  justify-content: center;
}

/* Стили для кнопок выбора пола */
#gender-buttons .button {
  width: 260px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: none; /* Отключаем трансформацию */
  box-shadow: none; /* Отключаем тень */
  background: transparent;
  transition: none; /* Отключаем анимацию перехода */
}

.button-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

.button-row_item {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) saturate(180%);
  box-shadow: 0px 4px 24px rgba(105.36, 97.05, 200.93, 0.25);
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.5s;
  transform: translateY(0);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.button-row_item:active {
  transform: scale(0.95) translateY(2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.button-row_item img {
  pointer-events: none;
}

.button-row_item div {
  font-weight: 600;
}

#style-buttons div {
  font-weight: 600;
  letter-spacing: 0.5px;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2.6em;
  text-align: center;
}

/* Общие стили для заголовков */
.screen h1 {
  color: var(--text-color);
  letter-spacing: 1px;
  /* font-weight: 700;
  text-align: center;
  margin: 0; */
}

/* Заголовок для экрана стилей */
#style-screen h1 {
  /* margin-bottom: 40px; */
  position: absolute;
  top: 15%;
}

/* Заголовок для экрана выбора пола */
#gender-screen h1 {
  margin-bottom: 20px;
}

/* Заголовок для экрана камеры */
#camera-screen h1 {
  /* position: absolute;
  top: 50px; 
  left: 50%; */
  /* transform: translateX(-50%); */
  position: relative;
  margin: 0;
  z-index: 1;
  text-align: center;
}

/* Заголовок для экрана обработки */
#processing-screen h1 {
  margin-bottom: 20px;
}

/* Заголовок для экрана результата */
.buttons-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 10px; /* Отступ сверху для кнопок */
}

/* Стили для кнопки "Назад" */
.back-button {
  position: absolute;
  bottom: 5%;
  padding: 20px 70px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}

/* Стили для неактивной кнопки "Назад" */
.back-button:disabled {
  background: rgba(255, 255, 255, 0.2);
  cursor: not-allowed;
  opacity: 0.5;
}

/* Стили для переключателя темы */
.theme-switcher {
  display: none;
  position: absolute;
  top: 90px;
  right: 20px;
  width: 60px;
  height: 34px;
}

.theme-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  /* ! */
  display: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#splash-screen h1 {
  font-size: 3em;
  margin-bottom: 40px;
  color: var(--text-color);
}

#start-button {
  padding: 30px 60px;
  font-size: 1.8em;
  cursor: pointer;
  border: none;
  /* border-radius: 12px; */
  /* backdrop-filter: blur(10px); */
  background: rgba(255, 255, 255, 0.25);
  color: var(--text-color);
  font-weight: 600;
  transition: background-color 0.3s, transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#start-button:active {
  transform: scale(0.95) translateY(2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
/* Скрываем кнопку "Назад" на заставке */
#splash-screen .back-button {
  display: none;
}

/* Добавьте стили для логотипа */
#logo-container {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

#logo {
  transition: transform 0.3s ease;
}

body.rotation-90 #video {
  max-height: 40vh;
}

body.rotation-90 #countdown {
  position: relative;
  bottom: -30%;
}

/* Адаптивность под разные экраны */
/* Вертикальная ориентация */
@media (orientation: portrait) {
  body.rotation-90 #video {
    /* height: 33vh; */
  }

  body.rotation-90 #countdown {
    bottom: -30%;
  }

  .back-button {
    font-size: 1.7em;
    padding: 30px 70px;
  }

  #style-screen h1 {
    top: 20%;
  }

  #camera-screen h1 {
    top: -16%;
  }

  #style-buttons {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*? Скролл */
    /* overflow-y: auto; */
  }

  #style-buttons,
  #gender-buttons {
    flex-direction: column;
    align-items: center;
  }

  .button-row {
    flex-direction: column;
    /* align-items: center; */
  }

  .button-row_item {
    padding: 5px;
  }

  #result-image {
    max-width: 90%;
    max-height: 75vh;
  }

  #video {
    width: 95%;
    max-height: 50vh;
  }

  #logo {
    /* width: 300px; */
    height: auto;
  }

  body.rotation-90 #result-image {
    max-height: 55vh;
    /*? 40 */
  }

  body.rotation-90 #result-screen > div {
    margin-top: 30px;
  }

  body.rotation-90 #result-screen h1 {
    margin-bottom: 70px;
  }

  body.rotation-90 #selected-params-text {
    position: relative;
    top: 40%;
  }

  body.rotation-90 #start-over, #print-photo {
    margin-top: 0px;
    position: relative;
    /* top: 95%; */
  }
}

/* Горизонтальная ориентация */
@media (orientation: landscape) {
  /* .buttons-container{
    margin-top: 50px;
  } */

  #result-screen h1 {
    margin-bottom: 15px;
  }

  body.rotation-90 #video {
    max-height: 45vh;
  }

  #countdown {
    margin-top: 0;
  }
  #logo-container {
    top: 3%;
    left: 92%;
    /* transform: translateX(-50%); */
  }

  #logo {
    /* width: 180px; */
    height: auto;
  }

  .button-row_item {
    flex-direction: row;
  }

  .button {
    margin: 0;
  }

  .back-button {
    bottom: 3%;
  }

  #camera-screen h1 {
    top: -25%;
  }

  .button-row_item .button {
    font-size: 2em;
  }

  #result-screen > div {
    margin-top: 30px;
    /*?  */
  }

  #style-buttons,
  #gender-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .button-row {
    justify-content: center;
  }
  #result-image {
    max-width: 80%;
    max-height: 80vh;
  }
  /* #video {
    max-width: 50%;
    max-height: 80vh;
  } */
  #video {
    width: 85%;
    height: 67vh;
  }

  body.rotation-90 #result-image {
    max-height: 80vh;
  }

  body.rotation-90 #result-screen h1 {
    position: relative;
    top: -2%;
    /*? 5 */
  }

  body.rotation-90 #selected-params-text {
    position: relative;
    top: 0%;
    /*? 160 */
  }

  /* body.rotation-90 #print-photo, #start-over {
    margin-top: 50px;
  } */
/* 
  body.rotation-90 #start-over {
    margin-top: 50px;
  } */
}
/* @media (max-width: 1175px) {
  #camera-screen h1 {
    top: 2%;
  }
} */

@media (min-width: 880px) and (min-height: 1800px) {
  #style-screen h1 {
    top: 28%;
  }
}

@media (max-width: 775px) {
  #style-buttons {
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* gap: 10px; */
    padding: 15px;
  }

  .button {
    padding: 15px;
    font-size: 1.4em;
  }
}

@media (max-width: 710px) {
  #style-screen h1 {
    /* margin-top: 65px; */
    margin-bottom: 0;
  }
  #result-screen > div {
    margin-top: 60px;
  }
  #result-screen h1 {
    margin-bottom: 50px;
  }
  .content-container {
    flex: 0;
  }
  .back-button {
    padding: 20px 70px;
  }
  .button-row_item {
    box-shadow: 0px 2px 8px rgba(105.36, 97.05, 200.93, 0.25);
    padding: 5px;
  }
  .button {
    margin: 5px;
  }
  .selected-params {
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  .button-row_item {
    padding: 5px;
    width: 220px;
  }
  .button-row_item-last {
    width: auto;
  }

  /* #camera-screen h1 {
    top: 10%;
  } */
}

@media (max-width: 480px) {
  .button-row_item {
    width: 160px;
  }
  .button-row_item-last {
    width: auto;
  }
  #style-buttons {
    grid-template-columns: 1fr;
    /* gap: 10px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .button {
    font-size: 1.5em;
    /* width: 300px; */
    margin: 10px;
  }
}

@media (max-height: 950px) {
  /* .content-container {
    flex: 0;
  } */

  /* #camera-screen h1 {
    top: 5%;
  } */

  .button-row {
    gap: 10px;
  }
  /* #camera-screen h1 {
    top: 20px;
  } */
  .button {
    margin: 0px;
  }
  #gender-screen h1 {
    margin-bottom: 5px;
    font-size: 2em;
  }
  .button-row {
    padding: 0;
  }
}

.selected-params {
  font-size: 1.4em;
  margin-top: 10px;
}

#fullscreen-toggle {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 40px;
  font-size: 1em;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  opacity: 0;
}

/* Стили для загрузчика камеры */
#camera-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 2;
}

.loader-spinner {
  width: 50px;
  height: 50px;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

.loader-text {
  font-size: 1.2em;
  text-align: center;
}

/* Добавляем стиль для скрытия видео во время загрузки */
.video-container.loading #video {
  opacity: 0;
}

.video-container.loading #camera-loader {
  display: flex;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Стили для светлой темы */

body.light .button {
  background: rgba(255, 255, 255, 0.2);
  color: var(--text-color);
}

body.light #style-buttons div {
  color: var(--text-color);
}

body.light .button-row_item .button {
  color: var(--text-color);
}

body.light .back-button {
  background: rgba(255, 255, 255, 0.2);
  color: var(--text-color);
}

body.light .invert-image {
  filter: invert(1);
}

body.light #selected-params-text {
  color: var(--text-color);
}

body.light #camera-loader .loader-text {
  color: var(--text-color);
}

/* Стили для загрузчика камеры в светлой теме */
body.light #camera-loader .loader-spinner {
  border-color: rgba(0, 0, 0, 0.3);
  border-top-color: #000;
  animation: spin-light 1s ease-in-out infinite;
}

body.light::before {
  /* background: rgba(255, 255, 255, 0.4); */
  background: linear-gradient(to top, transparent, white 200%);
}

/*! Стили для темной темы */
body.dark .button {
  background: rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}

body.dark #selected-params-text {
  color: var(--text-color);
}

body.dark #style-buttons div {
  color: var(--text-color);
}

body.dark #camera-loader .loader-text {
  color: #e6e6fa;
}

@keyframes spin-light {
  to {
    transform: rotate(360deg);
  }
}

/* Стили для темной темы */

body.dark .back-button {
  background: linear-gradient(
    178deg,
    rgba(36.65, 49.36, 81.12, 0.03) 0%,
    rgba(98.2, 109.7, 138.45, 0.11) 39%,
    rgba(0, 7.04, 28.15, 0) 100%
  );
  color: var(--text-color);
}

body.dark .invert-image {
  filter: invert(0);
}

@keyframes spin-dark {
  to {
    transform: rotate(360deg);
  }
}

/* Стили для загрузчика камеры в темной теме */
body.dark #camera-loader .loader-spinner {
  border-color: rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  animation: spin-dark 1s ease-in-out infinite;
}

body.dark #camera-loader .loader-text {
  color: var(--text-color);
}

body.dark::before {
  /* background: rgba(0, 0, 0, 0.4); */
  background: linear-gradient(to top, transparent, black 200%);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#style-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
}

.loader-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-bottom: 10px;
}

.loader-text {
  font-size: 1.2em;
  color: #333;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#language-switcher {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 15px 30px;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}

#language-switcher:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}

/* Анимация поялвение текстов */
#progress {
  width: 0;
  height: 100%;
  animation: progress-animation 5s linear infinite;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Надписи */
.floating-text {
  position: absolute;
  top: 70%;
  color: var(--text-color);
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  animation: fade-up 2s ease-in-out forwards;
  opacity: 0;
}

@keyframes fade-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
